body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.startBoard{
  margin: 50px;
  width: 250px;
  line-height: 150px;
  text-align: center;
  background-color: lightgreen;
  border-radius: 15px;
  font-size: 20px;
  color: white;
}
.startBoard:hover{
  cursor: pointer;
  background-color: limegreen;
}
.creatingBoard{
  height: 250px;
  line-height: normal;
  padding: 15px
}
.creatingBoard > *{
  margin-top: 10px;
  width: 100%;
}
.creatingBoard > input{
  height: 30px;
  font-size: 20px;
}
.creatingBoard > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.creatingBoard > div > button {
  height: 40px;
}
.creatingBoard > div > button:hover {
  cursor: pointer;
  background-color: lightgrey;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.createdBoard{
  position: relative;
  color: white;
  font-size: 22px;
  margin: 50px;
  height: 250px;
  line-height: 250px;
  background-color: lightgreen;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
}
.createdBoard:hover{
  background-color: limegreen;
  cursor: pointer;
  font-size: 26px;
}
.createdBoard:hover .createCloseButton{
  position: absolute;
  background-image: url("close2.png");
  width: 26px;
  height: 26px;
  right: 0;
  top: 0;
  background-size: 26px;
  background-repeat: no-repeat;
}
.createdBoard:hover .createCloseButton:hover{
  background-size: 30px;
  right: 2px;
}